/*
2014-12-15
cuitianze
*/
body {
  margin: 0;
  padding: 0; }

#mainMenu {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center; }

#mainMenu a {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-image: url("../img/whatshouldilearn.png"); }

#mainMenu a.aHtml {
  background-position: 0 0; }

#mainMenu a.aCss {
  background-position: -256px 0; }

#mainMenu a.aJs {
  background-position: -128px 0; }

#mainMenu a.aNode {
  background-position: -384px 0; }

#mainMenu a.aPhp {
  background-position: -512px 0; }

#mainMenu a.aPython {
  background-position: -640px 0; }

#mainMenu a.aDatabase {
  background-position: -768px 0; }
