/*
2014-12-15
cuitianze
*/
body {
  margin: 0;
  padding: 0;
  background: #E8E8E8;
  font-family: "微软雅黑"; }

#mainWrapper .cuitianze {
  font-size: 1.5em;
  text-align: center; }

#mainWrapper .cuitianze i {
  font-size: 0.8em;
  text-decoration: dotted; }

/* 首页底部导航栏样式*/
#mainMenu {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 100px; }
  #mainMenu a {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-size: cover; }
    #mainMenu a.aHtml {
      background-image: url("../img/homeMenu/aHtml.png"); }
    #mainMenu a.aCss {
      background-image: url("../img/homeMenu/aCss.png"); }
    #mainMenu a.aJs {
      background-image: url("../img/homeMenu/aJs.png"); }
    #mainMenu a.aNode {
      background-image: url("../img/homeMenu/aNode.png"); }
    #mainMenu a.aPhp {
      background-image: url("../img/homeMenu/aPhp.png"); }
    #mainMenu a.aPython {
      background-image: url("../img/homeMenu/aPython.png"); }
    #mainMenu a.aDatabase {
      background-image: url("../img/homeMenu/aDatabase.png"); }
    #mainMenu a.aBash {
      background-image: url("../img/homeMenu/aBash.png"); }
