<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title>demo</title>
        <script src="../bower_components/angular/angular.min.js"></script>
    </head>
    <body>
        <div ng-init="qty=1;cost=2">
            <b>订单:</b>
            <div>
                数量: <input type="number" ng-model="qty" required>
            </div>
            <div>
                单价: <input type="number" ng-model="cost" required>
            </div>
            <div>
                <b>总价: {{qty*cost | currency}}</b>
            </div>
        </div>
    </body>
</html>
