<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <script src="../bower_components/angular/angular.min.js"></script>
</head>
<body>

    <h1>{{title}}</h1>

    <div ng-controller="TimeController">
        <h1>{{ clock.now | date:'MM/dd/yyyy @ h:mm:ssa'}}</h1>
    </div>

    <input type="text" ng-model="name" placeholder="Your Name"/>
    <h1>Hello {{name}}</h1>

    <div ng-controller="PersonController">
        <input ng-model="person.name" type="text" placeholder="Your Name"/>
        <h1>你好,{{person.name}}</h1>
    </div>

    <div>
        <div ng-controller="MyController">
            <h1>Hello {{ name }} </h1>
        </div>
    </div>

    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
