<!doctype html5>
<html>
    <head>
        <title>Angular学习笔记</title>
        <script src="../bower_components/angular/angular.min.js"></script>
    </head>
    <body ng-app="angularLearning">

        <h4>定时器$timeout</h4>
        <div ng-controller="ClockController">
            {{clock.now | date: 'MM/dd/yyyy @ h:mm:ss a'}}
        </div>
        <script type="text/javascript" charset="utf-8">
            angular.module('angularLearning', []).controller('ClockController', ['$timeout', '$scope', function($timeout, $scope) {
                var updateTime = function() {
                    $scope.clock = {
                        now: new Date()
                    };
                    $timeout(function() {
                        updateTime();
                    }, 1000);
                }
                updateTime();
            }])
        </script>
        <xmp>
            <div ng-controller="ClockController">
                <span> { { clock.now | date: 'MM/dd/yyyy @ h:mm:ssa' }}</span>
            </div>
            <script type="text/javascript" charset="utf-8">
                angular.module('angularLearning', []).controller('ClockController', ['$timeout', '$scope', function($timeout, $scope) {
                    var updateTime = function() {
                        $scope.clock = {
                            now: new Date()
                        };
                        $timeout(function() {
                            updateTime();
                        }, 1000);
                    }
                    updateTime();
                }])
            </script>
        </xmp>

        <h3>表达式</h3>
        <h4>解析表达式$parse</h4>
        <div ng-controller="parseController">
            <div>person -> {{person}}</div>
            <input ng-model="expr" type="text" placeholder="输入一个表达式"/>
            <h2>{{ parseValue }}</h2>
        </div>
        <script>
            angular.module("angularLearning")
            .controller('parseController', ['$scope', '$parse', function($scope, $parse) {
                $scope.person = {
                    name: 'cuitianze'
                };
                $scope.$watch('expr', function(newVal, oldVal, scope) {
                    if(newVal !== oldVal) {
                        // 解析表达式
                        var parseFun = $parse(newVal);
                        // 赋给另一个值
                        $scope.parseValue = parseFun(scope);
                    }
                })
            }])
        </script>
        <xmp>
            <div ng-controller="parseController">
                <div>person -> { {person}}</div>
                <input ng-model="expr" type="text" placeholder="输入一个表达式"/>
                <h2>{ { parseValue }}</h2>
            </div>
            <script>
                angular.module("angularLearning")
                .controller('parseController', ['$scope', '$parse', function($scope, $parse) {
                    $scope.person = {
                        name: 'cuitianze'
                    };
                    $scope.$watch('expr', function(newVal, oldVal, scope) {
                        if(newVal !== oldVal) {
                            // 解析表达式
                            var parseFun = $parse(newVal);
                            // 赋给另一个值
                            $scope.parseValue = parseFun(scope);
                        }
                    })
                }])
            </script>
        </xmp>

    </body>
</html>
